[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycaret = "*"
streamlit = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
build = "*"
twine = "*"
kaggle = "*"

[requires]
